BOT_TOKEN="<your-token-bot>"
PREFIX="<your-prefix-bot>"
DEVELOPERS_IDS= [ "<your-developer-id>", "other-is" ]

# none | memory | sqlite | mysql | mariadb | mongodb | postgresql
DATABASE_PROVIDER="none"
DATABASE_URL=""
DATABASE_HOST="localhost"
DATABASE_PORT=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME="ainbot"
DATABASE_PATH="data/ainbot.sqlite"
DATABASE_TABLE="ainbot_records"
DATABASE_COLLECTION="ainbot_records"
DATABASE_SSL="false"
